body { margin: 0px;
       font-family: sans-serif;
       font-size: 14px; }

body
{ color: #000; }

h1, h2, h3
{ color: #821; }

a:link, a:visited
{ color: #821; }

a:active, a:hover
{ color: #c43; }

div.code, table
{ background-color: #fff0e8; }

div.topmiddle hr
{ color: #943; }

body, div.bgleft, tr.header td
{ background-color: #fff8f0; }

div.topleft, div.topmiddle
{ color: #fff;
  background-color: #943; }

div.topmiddle h1
{ color: #fff; }

div.middle hr
{ color: #fff; }

div.middle, div.bgmiddle, div.bgmiddle-fixed, div.les
{ background-color: #fff8f0; }

h1 { font-weight: normal;
     margin: 6px 6px 6px 0px; }

h2 { font-weight: normal;
     margin: 8px 6px 8px 0px; }

h3 { margin: 8px 6px 8px 0px; }

img.icon { margin: 3px; }

a img { border: 0px; }

hr { margin: 0px;
     border: 0px; 
     width: 100%; 
     height: 0px; }

sup { font-size: 10px; }

div.topleft   { position: absolute;
                left: 0px; top: 0px;
                width: 120px; height: 80px;
                text-align: center; }

div.topmiddle { position: absolute;
                left: 120px; top: 0px;
                right: 0px; height: 80px;
                border-top:    0px solid #000;
                border-right:  0px solid #000;
                border-bottom: 0px solid #000;
                border-left:   0px solid #000; }

div.left      { position: absolute;
                left: 0px; top: 80px;
                width: 120px; }

div.middle    { position: absolute;
                left: 120px; top: 80px;
                right: 0px; bottom: 0px;
                border-top:    1px solid #000;
                border-right:  0px solid #000;
                border-bottom: 0px solid #000;
                border-left:   1px solid #000;
                padding: 5px 10px 5px 10px; }
                             
div.bgleft, div.bgleft-fixed
              { position: absolute;
                left: 0px; top: 0px;
                width: 120px; height: 100%;
                border-top:    0px solid #000;
                border-right:  0px solid #000;
                border-bottom: 0px solid #000;
                border-left:   0px solid #000; }

div.bgleft-fixed
              { position: fixed;
                bottom: 0px; height: auto; }

div.bgmiddle, div.bgmiddle-fixed
              { position: absolute;
                left: 120px; top: 0px;
                height: 100%;
                border-top:    0px solid #000;
                border-right:  0px solid #000;
                border-bottom: 0px solid #000;
                border-left:   1px solid #000; }

div.bgmiddle-fixed
              { position: fixed;
                right: 0px; bottom: 0px; height: auto; }

div.icons     { position: absolute;
                left: 0px; bottom: 0px;
                width: 120px;
                text-align: center; }

a         { text-decoration: none; }

div.left ul    { position: absolute;
                 left: 0px; top: 0px;
                 width: 121px; 
                 margin:  0px 0px 0px 0px;
                 padding: 0px;
                 list-style-type: none;
                 border-bottom: 1px solid #000; }

div.left ul ul  { position: relative;
                  width: auto;
                  margin:        0px 0px 0px 8px;
                  border-bottom: 0px solid #000; }

div.left li     { padding: 0px;
                  border-top:    1px solid #000; }

div.left li ul li { border-left:   1px solid #000;
                    border-right: 0px; }

div.le  { padding: 5px;
          border-right: 1px solid #000 }

div.les { padding: 5px; }

div.middle li { margin: 0px;
                padding: 2px 0px 4px 0px; }

div.code    { border: 1px solid #943;
              padding: 5px;} 

div.codeComment { font-style: italic;
                  margin-left: 50px; } 

table { border: 1px solid #943;
        border-collapse: collapse; }

table.req { width: 600px; }

table.doc { width: 400px;
            table-layout: fixed; }

table.doc col.first  { width: 40% }
table.doc col.second { width: 60% }

table.code { width: 300px;
             table-layout: fixed; }

table.code col.first  { width: 50% }
table.code col.second { width: 50% }

table td { padding: 5px;
           vertical-align: top;
           border: 1px solid #943; }
