body {
  text-align: center;
}

a:link, a:visited {
  color: #821;
}

a:active, a:hover {
  color: #c43;
}

.inline-logo img {
  float: left;
}

.inline-logo {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

header h1 {
  font-size: 80px;
  margin: 20px;
}

header h2 {
  font-size: 30px;
  font-weight: normal;
}

header {
  color: #fff;
  background-color: #943;
  padding: 50px;
  width: "100%";
}

article h2 {
  color: #821;
  border-bottom: 1px solid #821;
}

article {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.hide {
  display: none;
}

.affix {
  top: 0;
}

#navbar {
  margin-top: 40px;
  width: 180px;
  border-left: 1px solid #821;
  margin-left: 50px;
  text-align: left;
}

th {
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #821;
}

td {
  padding-left: 10px;
  padding-right: 10px;
}

#discuss_banner {
  display: block;
  position: absolute;
  top:0;
  right: 10px;
  width: 200px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../images/groups-logo.png') #333 no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#forkme_banner {
  display: ;
  position: absolute;
  top:0;
  right: 230px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../images/blacktocat.png') #333 no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
